// Universal
@font-face {
    font-family: "LiquidCrystalRegular";
    src: url("/public/fonts/LiquidCrystalRegular/LiquidCrystal-Normal.woff2");
}
$color-blue-dark: #0882bf;
$color-blue-light: #0aa1f0;
$color-gray-light: #d9d9d9;
$color-gray-dark: #999;
$color-green-dark: #0e6150;
$color-green-light: #1abc9c;
$color-green-trace: hsl(168, 76%, 96%);
$color-purple-dark: #5b3568;
$color-purple-light: hsl(285, 32%, 52%);
$color-purple-trace: hsl(285, 32%, 92%);
$color-red-dark: #780510;
$color-red-light: #bd2d1a;
$color-red-trace: hsl(7, 76%, 96%);
$color-steel-dark: #2f4957;
$color-steel-darkest: hsl(201, 30%, 16%);
$color-steel-light: #4a758a;
$color-steel-trace: hsl(200, 30%, 96%);
$font-size-label: 0.8rem;
$font-stretch: 60%;
$form-radius: 3rem;
$radius: 4px;
$transition-time: 250ms;

// Mobile first - small screen
html {
    background: linear-gradient(
        115deg,
        $color-steel-dark,
        $color-steel-darkest
    );
}
a {
    color: $color-blue-light;
    transition: all $transition-time;

    &:hover {
        color: $color-red-light;
    }
}
body {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    height: 100vh;
}
button {
    font-weight: bold;
    transition: all $transition-time;
}
header {
    a {
        color: $color-blue-light;
        transition: all $transition-time;

        &:hover {
            color: #fff;
        }
    }
    h1 {
        font-family: "LiquidCrystalRegular";
        font-size: 2rem;
        text-shadow: 0 0 10px #000;
        color: $color-green-light;
    }
}
nav {
    grid-row: 3/4;
}
main {
    display: grid;
    grid-row: 2/3;
    overflow: hidden;
}
h2 {
    color: #fff;
    font-size: 2rem;
    font-stretch: $font-stretch;
}
h3 {
    color: $color-green-light;
    font-size: 1.8rem;
    font-stretch: $font-stretch;
}
h4 {
    color: $color-steel-trace;
    font-size: 1.6rem;
    font-stretch: $font-stretch;
}
h5 {
    background: $color-steel-dark;
    color: $color-steel-trace;
    font-size: 1.4rem;
    font-stretch: $font-stretch;
    padding: 0 1rem;
}
ul {
    li {
        list-style: square;
        margin-left: 3rem;
    }
}

form {
    input,
    textarea {
        width: 100%;
    }
    button {
        color: #fff;
    }
}

.form-field {
    background: #fff;
    border-radius: 4px;
    color: #000;
    margin-bottom: 1rem;
    overflow: hidden;

    label {
        color: $color-gray-dark;
        font-size: $font-size-label;
        padding: 0.2rem 1rem;
        position: absolute;
    }
    input[type="text"],
    input[type="number"],
    textarea {
        font-size: 1rem;
        padding: 1.4rem 1rem 0.2rem;
    }
}

#documentation {
    color: #fff;
    overflow: auto;

    p {
        line-height: 1.5;
        margin: 1rem;
    }
}
#vehicles {
    overflow: auto;
}

#editor {
    .form-field {
        border: 1px solid $color-green-dark;
    }

    fieldset {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;

        legend {
            color: $color-green-dark;
        }
    }

    button {
        border: 1px solid $color-steel-dark;
        border-radius: 4px;
    }
}

button.settings-button {
    background: $color-steel-light;

    &:hover {
        background: $color-steel-dark;
    }
}
button.vehicle-button {
    background: $color-green-light;

    &:hover {
        background: $color-green-dark;
    }
}
.list-doc {
    background: $color-gray-light;

    &:hover {
        background: $color-gray-dark;
    }
}

#documentation {
    height: 100%;
}
#settings {
    background: $color-steel-light;
    color: #fff;
    height: 100%;

    button {
        background: $color-green-light;
        border: 1px solid $color-green-light;

        &:hover {
            background: $color-green-dark;
        }
    }
}
#editor {
    background: $color-green-light;
    height: 100%;

    button {
        background: $color-steel-light;

        &:hover {
            background: $color-steel-dark;
        }
    }
}
#vehicles {
    height: 100%;
}

.vehicle-card {
    background: #fff;
    border-radius: 4px;
    display: grid;
    font-size: 0.85rem;
    gap: 0.5rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 0.5rem;

    &__cpm {
        align-self: flex-start;
        background: $color-green-light;
        border-radius: 4px;
        color: #fff;
        font-size: 2rem;
        font-stretch: 50%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        line-height: 5rem;
        text-align: center;
        width: 5rem;
    }

    &__delete {
        background: $color-red-trace;
        color: $color-red-dark;
        order: -1;

        &:hover {
            background: $color-red-light;
            color: #fff;
        }
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-content: space-between;
    }

    &__detail-label {
        color: #999;
        display: block;
    }

    &__edit {
        background: $color-green-trace;
        color: $color-green-dark;

        &:hover {
            background: $color-green-dark;
            color: #fff;
        }
    }

    &__notes {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin: 0.5rem 0;
    }

    &__title {
        color: $color-steel-dark;
        font-size: 1.4rem;
        font-stretch: 50%;
        font-weight: bold;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__tools {
        display: flex;
        gap: 0.5rem;
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        justify-content: space-between;
        width: 100%;

        button {
            border-radius: $radius;
            flex: 1 1 50%;
            padding: 0.5rem;
        }
    }

    &__miles,
    &__price,
    &__mpg {
        flex: 1 0 auto;
        min-width: 2rem;
    }
}

// Form fancies

// Modes

@media screen and (max-width: 639px) {
    main {
        #vehicles,
        #editor,
        #settings,
        #documentation {
            display: none;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &.mode-documentation {
            #documentation {
                display: block;
            }
        }
        &.mode-vehicles {
            #vehicles {
                display: block;
            }
        }
        &.mode-settings {
            #settings {
                display: block;
            }
        }
        &.mode-editor {
            #editor {
                display: block;
            }
        }
    }
}

// The medium two column screen
@media screen and (min-width: 640px) {
    body {
        grid-template-columns: 50%;
    }
    header {
        grid-column: 1/3;
    }
    nav {
        grid-column: 1/2;
    }
    main {
        grid-column: 1 / 3;
        grid-template-columns: 50% 50%;

        &.mode-documentation {
            #vehicles {
                display: none;
            }
        }
        &.mode-vehicles {
            #documentation {
                display: none;
            }
        }
        &.mode-settings {
            #editor {
                display: none;
            }
        }
        &.mode-editor {
            #settings {
                display: none;
            }
        }
    }
    #editor,
    #settings {
        border-radius: 0 $form-radius 0 0;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #documentation,
    #vehicles {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

// The big screen
@media screen and (min-width: 960px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;

        &.mode-editor,
        &.mode-settings {
            #editor {
                display: block;
            }
            #settings {
                border-radius: $form-radius 0 0 0;
                display: block;
                grid-column: 3 / 4;
            }
        }
    }

    #settings button {
        display: none;
    }
    nav#toolbar {
        display: none;
    }
    .list-doc {
        grid-column: 1 / 3;
    }
}
